<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search </title>
</head>
<body>
<form method="post" action="/search">
    <table cellpadding="5" cellspacing="5" align="center">
        <tr>
            <td colspan="2" align="center"><h1>MultiEngine Search</h1></td>
        </tr>
        <tr>
            <td></td><br><br><br><td>
        </tr>
        <tr>
            <td><input name="query" type="text" maxlength="255" size="100" ></td>
            <td><input type="submit" value="Search"></td>
        </tr>
        <tr>
            <td><br><br><br><td>
        </tr>
        <tr>
            <td colspan="2">{{tasks | safe}}<td>
        </tr>
    </table>
</form>
</body>
</html>